<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>My Posts as a Buyer</title>
   <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <a href="/home/"><span class="ml-3 text-xl">Unimart</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900" href = "/buyer/search/">Search</a>
      <a class="mr-5 hover:text-gray-900" href = "/buyer/create-post/">Create Post</a>
      <a class="mr-5 hover:text-gray-900" href = "/contact-us/">Contact Us</a>
      <a class="mr-5 hover:text-gray-900" href = "/userpage/">User Profile</a>
    </nav>
    <a href="/logout/"><button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Log out</a>
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
  </div>
</header>
<section class="text-gray-600 body-font overflow-hidden">
{% for buyer_post in buyer_posts %}
  <div style = "border-style:  solid; border-width: 20px; border-color: blueviolet; border-radius: 50px; padding:10px 0px;" class="container flex-wrap w-2/5 px-5 py-24 mx-auto ">
    <div style="padding-left:0px ;" class="lg:w-4/5 mx-auto  flex flex-wrap">
      <div style="padding-left: 0px ;" class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <div class="flex mt-6  pb-5 border-b-2 border-gray-100 mb-5">
          <h1 class="text-gray-900 items-center justify-center text-3xl title-font font-medium mb-1" id="product_name" >{{buyer_post.product_name}}</h1>
        </div>
        <div class="flex">
          <span class="title-font font-medium text-2xl text-gray-900" id="price"><b>Budget Range:</b><br> £{{buyer_post.budget_range}}</span>         
              <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
        </div>
        <br>
        <div class="flex">
          <span class="title-font font-medium text-2xl text-gray-900" id="seller_name"><b>Buyer Name:</b><br> {{buyer_post.user.first_name}} {{buyer_post.user.last_name}}</span>         
              <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
        </div>
        <br>
        <div class="flex">
          <span class="title-font font-medium text-2xl text-gray-900" id="price"><b>Buyer Preference:</b><br>{{buyer_post.preference_details}}</span>         
              <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
        </div>
        <br>
        <div class="flex">
          <span class="title-font font-medium text-2xl text-gray-900" id="price"><b>Contact Details:</b><br>{{buyer_post.preferred_contact}}</span>         
              <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
        </div>
        <br>
        <div class="flex">
          <span class="title-font font-medium text-2xl text-gray-900" id="price"><b>Location:</b><br>{{buyer_post.preferred_location}}</span>         
              <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
        </div>
      </div>
    </div>
  </div>
  <br><br>
{% endfor %}
</section>
<footer class="text-gray-600 body-font">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
    </a>
    <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2022 Unimart 
    </p>
  </div>
</footer>
</body>
</html>
