<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Product Detail</title>
   <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <a href="/home/"><span class="ml-3 text-xl">Unimart</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900" href = "/buyer/create-post/">Create Post</a>
      <a class="mr-5 hover:text-gray-900" href = "/buyer/my-posts/">My Posts</a>
      <a class="mr-5 hover:text-gray-900" href = "/contact-us/">Contact Us</a>
      <a class="mr-5 hover:text-gray-900" href = "/userpage/">User Profile</a>
    </nav>
    <a href="/logout/"><button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Log out</a>
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
  </div>
</header>
<section class="text-gray-600 body-font overflow-hidden">
<form id="form" role="search" method = "POST"> {% csrf_token %}
<div class="relative mb-4 md:ml-auto flex flex-wrap items-center text-base justify-center">
  <input type="text" id="product_name" name="product_name" class="w-1/2full bg-white rounded border border-gray-200 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-0 px-5 leading-8 transition-colors duration-200 ease-in-out">
  <button class="text-white bg-indigo-500 border-0 py-1 px-2 focus:outline-none hover:bg-indigo-600 rounded" style="margin-left:10px;">Search</button>
</div>
</form>
{% for seller_post in seller_posts %}
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <img alt="ecommerce" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src=/media/{{seller_post.img}}>
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5">
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-1" id="product_name">{{seller_post.product_name}}</h1>
        </div>
        <div class="flex">
          <span class="title-font font-medium text-2xl text-gray-900" id="price"><b>Price:</b> £{{seller_post.price}}</span>         
              <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
        </div>
        <br>
        <div class="flex">
          <span class="title-font font-medium text-2xl text-gray-900" id="price"><b>Product Description:</b><br>{{seller_post.product_description}}</span>         
              <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
        </div>
        <br>
        <div class="flex">
          <span class="title-font font-medium text-2xl text-gray-900" id="price"><b>Preferred Exchange Items:</b><br>{{seller_post.exchange_items}}</span>         
              <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
        </div>
        <br>
        <div class="flex">
          <span class="title-font font-medium text-2xl text-gray-900" id="price"><b>Contact Details:
          {{seller_post.user.first_name}}</b><br>{{seller_post.preferred_contact}}</span>         
              <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
        </div>
        <br>
        <div class="flex">
          <span class="title-font font-medium text-2xl text-gray-900" id="price"><b>Location:</b><br>{{seller_post.preferred_location}}</span>         
              <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</section>
<footer class="text-gray-600 body-font">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
    </a>
    <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2022 Unimart 
    </p>
  </div>
</footer>
</body>
</html>
